.other-detail {
  margin: 50px 0;
}

.detail-1,
.detail-2 {
  display: flex;
}

.detail-1 {
  justify-content: space-around;
  padding: 50px 30px;
  background-color: #f8f9fa;
  margin: 30px 0;
}

.detail-1-item,
.detail-2 .text {
  font-size: 20px;
  font-style: italic;
}

.detail-1-item p,
.detail-2 p {
  font-size: 14px;
  color: silver;
  margin: 5px 0;
}

.detail-2 {
  justify-content: space-between;
  padding: 20px 0;
}

.detail-2 input,
.detail-2 button {
  height: 60px;
  padding: 0;
  box-sizing: border-box;
}

.detail-2 input {
  width: 350px;
}

.detail-2 button {
  background-color: #383838;
  color: white;
  border-style: none;
  width: 110px;
}
